{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Scheduler plugin for Craft CMS
 *
 * SchedulerWidget Widget Body
 *
 * @author    BMoore
 * @copyright Copyright (c) 2018 BMoore
 * @link      bmoore.com
 * @package   Scheduler
 * @since     0.0.1
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@armoore/scheduler/assetbundles/schedulerwidgetwidget/dist', true) ~ '/img/SchedulerWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
